@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Groenten</title>
</head>
<body>
    <h2>Groenten</h2>

    <ul>
        @foreach (string groente in ViewBag.Groenten) { 
            <li>@groente</li>
        }

    </ul>
    <p>het zoekresultaat is</p>
    @ViewBag.ZoekResultaat
</body>
</html>
